<a href="https://colab.research.google.com/github/anuragsingh24082004/FUNCTIONS-PRACTICAL/blob/main/FUNCTION_PRACTICALS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                                        PRACTICALS

# Q.1 WRITE A PYTHON FUNCTION THAT TAKES LIST OF NUMBERS AS INPUT AND RETURNS THE SUM OF ALL EVEN NUMBERS IN THE LIST .

ANWER -

In [ ]:
def sum_of_all_even_numbers(numbers):
    sum = 0
    for num in numbers:
        if num % 2 == 0:
            sum += num
    return sum

In [ ]:
sum_of_all_even_numbers([5,6,4,6,3,2,1,5])

18

# Q.2- CREATE A PYTHON FUNCTION THAT ACCEPTS A STRING AND RETURNS THE REVERSE OF THAT STRING .

In [ ]:
# ANSWER -

def reverse_string(string):
    reversed_string = ""
    for i in range(len(string) - 1, -1, -1):
        reversed_string += string[i]
    return reversed_string

In [ ]:
string = "HELLO BROTHER !"
reverse_string(string)

'! REHTORB OLLEH'

# Q.3- IMPLEMENT A PYTHON THAT TAKES A LIST OF INTEGERS AND RETURNS A NEW LIST CONTAINING THE SQUARES OF EACH NUMBER .

In [ ]:
# ANSWER -

def square_of_numbers(numbers):
    squares = []
    for num in numbers:
        squares.append(num ** 2)
    return squares

In [ ]:
# FOR EXAMPLE -
square_of_numbers(numbers=[3,4,5,6,7,25])

[9, 16, 25, 36, 49, 625]

# Q.4- WRITE A PYTHON FUNCTION THAT CHECKS IF A GIVEN NUMBER IS PRIME OR NOT FROM 1 TO 200.

In [ ]:
def prime_number(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

In [ ]:
#   FOR EXAMPLE -

for i in range(1, 201):
    if prime_number(i):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

# Q.5- CREATE AN ITERATOR CLASS IN PYTHON THAT GENERATES THE FIBONACCI SEQUENCE UP TO A SPECIFIED NUMBER OF TERMS .

In [ ]:
def fibonacci_sequence(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

In [ ]:
for num in fibonacci_sequence(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

# Q.6- WRITE A GENERATOR FUNCTION IN PYTHON THAT YIELDS THE POWER OF 2 UP TO A GIVEN EXPONENT .

In [ ]:
# ANSWER -

def power_of_two(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

In [ ]:
# FOR EXAMPLE -

for num in power_of_two(5):
    print(num)

1
2
4
8
16
32

# Q.7- IMPLEMENT A GENERATOR FUNCTION THAT READS A FILE LINE BY LINE AND YIELDS EACH LINE AS A STRING .

In [5]:
# ANSWER -

def read_file_line_by_line(file_path):
  try:
    with open(file_path, 'r') as file:
      for line in file:
        yield line.strip()
  except FileNotFoundError:
    print("File not found.")

In [6]:
# EXAMPLE -

for line in read_file_line_by_line('KUCHH_BHI.txt'):
    print(line)

File not found.

# Q.8- USE A LAMBDA FUNCTION IN PYTHON TO START A LIST OF TUPLES BASED ON THE SECOND ELEMENT OF EACH TUPLE.

In [ ]:
# ANSWER-
actual_list = [(2,4),(5,8),(1,3),(6,9)]
sorted_list = sorted(actual_list, key=lambda x: x[1])
print(sorted_list)

[(1, 3), (2, 4), (5, 8), (6, 9)]

# Q.9- WRITE A PYTHON PROGRAMMING THAT USES 'map()' TO CONVERT A LIST OF TEMPERATURES FROM CELSIUS TO FARENHEIT.

In [ ]:
# ANSWER -

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

In [ ]:
celsius = [0, 10, 20, 30, 40, 5]
fahrenheit = list(map(celsius_to_fahrenheit, celsius))
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0, 41.0]

# Q.10 CREATE A PYTHON PROGRAM THAT USES 'filter()' TO REMOVE ALL THE VOWELS FROM A GIVEN STRING .

In [ ]:
# ANSWER -

def remove_vowels(string):
    vowels = 'aeiouAEIOUGJJFGHGDYYTT'
    return ''.join(char for char in string if char not in vowels)

In [ ]:
vowels = "HELLO BROTHER !"
remove_vowels(vowels)

'LL BRR !'

# ANSWER 11 - Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
# product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
# order is smaller than 100,00 €.

# Write a Python program using lambda and map.

In [24]:
order_items = [(34587, 40.95, 4),(98762, 56.80, 5),(77226, 32.95, 3),(88112, 24.99, 3)]

In [25]:
calculate_product = lambda item: (item[0], item[1] * item[2])

In [26]:
adjust_product = lambda item: (item[0], item[1] + 10.0 if item[1] < 100.0 else item[1])

In [27]:
result = list(map(adjust_product, map(calculate_product, order_items)))

In [28]:
for order_number, total_price in result:
    print(f"Order {order_number}: Total price = {total_price:.2f} €")

Order 34587: Total price = 163.80 €
Order 98762: Total price = 284.00 €
Order 77226: Total price = 108.85 €
Order 88112: Total price = 84.97 €